<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>bankaccount</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.dev.createaccount.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewServlet</display-name>
    <servlet-name>viewServlet</servlet-name>
    <servlet-class>com.dev.createaccount.viewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewServlet</servlet-name>
    <url-pattern>/viewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccountServlet</display-name>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>com.dev.createaccount.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/EditAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>com.dev.createaccount.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAccountServlet</display-name>
    <servlet-name>deleteAccountServlet</servlet-name>
    <servlet-class>com.dev.createaccount.deleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAccountServlet</servlet-name>
    <url-pattern>/deleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAccountServlets</display-name>
    <servlet-name>deleteAccountServlets</servlet-name>
    <servlet-class>com.dev.createaccount.deleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAccountServlets</servlet-name>
    <url-pattern>/deleteAccountServlets</url-pattern>
  </servlet-mapping>
</web-app>